

<div><li><%= @book_title %></li></div>
<div><li><%= @book_author %></li></div>
<div><li><%= @book_description %></li></div>
<div><li><%= @book_description %></li></div>
<div><li><%= @page_count %></li></div>

<img src="<%= @thumbnail %>" alt="book_photo">
